<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
	<script src="./bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>

  {% include banner.html %}
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
